// ### Primary

// - Bright Blue: 
$bright-blue: hsl(220, 98%, 61%);

// - Check Background: 
// linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

// ### Neutral

// ### Light Theme

// - Very Light Gray: 
$l-vl-gray: hsl(0, 0%, 98%);
// - Very Light Grayish Blue (todo item bottom border): 
$l-vl-grayish-blue: hsl(236, 33%, 92%);
// - Light Grayish Blue (checked todo item): 
$l-l-grayish-blue: hsl(233, 11%, 84%);
// - Dark Grayish Blue (main body color): 
$l-d-grayish-blue: hsl(236, 9%, 61%);
// - Very Dark Grayish Blue: 
$l-vd-grayish-blue: hsl(235, 19%, 35%);

// ### Dark Theme

// - Very Dark Blue: 
$d-vd-blue: hsl(235, 21%, 11%);
// - Very Dark Desaturated Blue: 
$d-vd-desat-blue: hsl(235, 24%, 19%);
// - Light Grayish Blue: 
$d-l-grayish-blue: hsl(234, 39%, 85%);
// - Light Grayish Blue (hover): 
$d-l-grayish-blue-hover: hsl(236, 33%, 92%);
// - Dark Grayish Blue: 
$d-d-grayish-blue: hsl(234, 11%, 52%);
// - Very Dark Grayish Blue: 
$d-vd-grayish-blue: hsl(233, 14%, 35%);
// - Very Dark Grayish Blue: 
$d-vd-grayish-blue-2: hsl(237, 14%, 26%);

@font-face {
    font-family: Josefin ExtraLight;
    src: url(fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
    font-family: Josefin Light;
    src: url(fonts/JosefinSans-Light.ttf);
}
@font-face {
    font-family: Josefin Thin;
    src: url(fonts/JosefinSans-Thin.ttf);
}
@font-face {
    font-family: Josefin Bold;
    src: url(fonts/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: Josefin SemiBold;
    src: url(fonts/JosefinSans-SemiBold.ttf);
}
@font-face {
    font-family: Josefin Variable;
    src: url(fonts/JosefinSans-VariableFont_wght.ttf);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////MOBILE LAYOUT/////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
    font-family: Josefin SemiBold, sans-serif;
    font-size: 18px;

    background-repeat: no-repeat;
    background-size: 100vw;

    box-sizing: border-box;
    padding: 5vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 20px 0 35px;

    h1 {
        font-family: Josefin Bold;
        text-transform: uppercase;
        color: $l-vl-gray;
        font-size: 7vw;
        letter-spacing: 2.5vw;
        margin: 0;
        
    }

    img {
        width: 20px;
    }

    .disabled {
        display: none;
    }
    

}

.box {
    box-sizing: border-box;
    // padding: 15px 0;
    margin: 15px 0;
    border-radius: 5px;
}

#create-box {
    padding: 15px 20px;

    display: flex;
    justify-content: left;

    height: 50px;
}

input {
    font-family: Josefin SemiBold, sans-serif;
    font-size: 12px;
    opacity: .5;

    border: none;
    margin: 0 0 0 10px;
    outline: none;

    height: 22px;
}

.checkbox {
    border: 0.5px solid $l-l-grayish-blue;
    width: 18px;
    height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    
    img {
        width: 10.5px;
        height: 9px;
        
    }
}

.checkbox-checked {
    background-image: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 15px 20px 15px;
    height: 50px;
    box-sizing: border-box;

    font-size: 12px;
    
    .todo-item-main {
        display: flex;
        align-items: center;
        height: 20px;
        
        p {
            // border: 1px solid gray;
            margin: 3px 0 0 10px;
    
        }
    }

    .delete-button {
        width: 12px;
    }

}

#bottom-info {
    font-size: 12px;

    padding: 15px 20px;
    height: 19.6px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter-options {
    display: flex;
    justify-content: center;

    padding: 15px 20px;

    span {
        font-size: 14px;
        margin: 0 10px;
    }

    .span-active {
        color: $bright-blue;
    }
}

.attribution {
    margin: 100px 50px 20px;
    font-size: 12px;
    text-align: center;

    a {
        color: $l-vd-grayish-blue;
    }
}
////////////////////////////LIGHT THEME
.l-body {
    color: $l-d-grayish-blue;
    background-color: $l-vl-gray;
    background-image: url(images/bg-mobile-light.jpg);
    
}

.l-box {
    background-color: white;
    box-shadow: 0px 10px 30px rgba($color: #a0a0a0, $alpha: 0.3);
}

.l-input {
    opacity: .5;
}

.l-checkbox {
    border: 0.5px solid $l-l-grayish-blue;
}

.l-todo-item {
    border-bottom: 1px solid $l-vl-grayish-blue;

    .l-todo-item-checked {
        color: $l-l-grayish-blue;
        text-decoration: line-through;

    }
}

////////////////////////////DARK THEME


.d-body {
    color: $d-l-grayish-blue;

    background-color: $d-vd-blue;
    background-image: url(images/bg-mobile-dark.jpg);
}

.d-box {
    background-color: $d-vd-desat-blue;
    box-shadow: 0px 10px 30px rgba($color: black, $alpha: 0.3);
    
}

.d-input {
    color: $d-l-grayish-blue;
    opacity: .5;
    background-color: transparent;
    
}
.d-input::placeholder {
    color: $l-l-grayish-blue;
}

.d-checkbox {
    border: 0.5px solid $d-vd-grayish-blue;
}

.d-todo-item {
    border-bottom: 1px solid $d-vd-grayish-blue;

    .d-todo-item-checked {
        color: $d-vd-grayish-blue;
        text-decoration: line-through;
    }
}

.d-bottom-info {
    color: $d-vd-grayish-blue;
}

.d-filter-options {
    color: $d-vd-grayish-blue;
}
